header {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

header a img {
  height: 80px;
  margin: 25px 0;
  cursor: pointer;
  opacity: 0.9;
}

header a img:hover {
  opacity: 1;
}
