.movie-bar {
  background: var(--light-grey);
  border: 1px solid var(--light-grey);
  border-radius: 20px;
  position: relative;
  margin-bottom: 18px;
  opacity: 0.9;
}

.movie-bar:hover {
  opacity: 1;
}

.movie-bar.selected{
  opacity:1;
  background: var(--yellow);
    border: 1px solid var(--yellow);
}

.selected .movie-item {
  background-color: var(--yellow);
}

.movie-item {
  background-color: var(--white);
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 5px 20px;
}

.episode {
  margin-left: 5px;
  text-align: left;
}

.description {
  color: var(--black);
  flex: 1 0;
  font-weight: 600;
  font-size: 16px;
  margin: 0 15px;
  text-align: left;
}

.date {
  color: var(--dark-grey);
}

.episode,
.description,
.date {
  cursor: inherit;
}
