@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");

.movies-container {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

h2 {
  color: #b9b9b9;
  text-align: left;
  font-family: "Barlow", sans-serif;
  border-bottom: 2px #343434 solid;
  border-top: 2px #343434 solid;
  text-transform: uppercase;
  vertical-align: center;
  margin-top: 0;
  padding: 5px;
}

@media screen and (max-width: 885px) {
  .movies-container {
    flex-direction: column-reverse;
  }
}
