@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --yellow: #ffca28;
  --bg-color: #161b22;
  --sec-black: #010409;
  --white: #edeaea;
  --black: #212121;
  --dark-grey: #424242;
  --light-grey: #b9b9b9;
  --grey:#7d7a7a;
  --jet: #343434;
  --pure-white: #f3f3f3;
  --font-inter: "Inter", sans-serif;
  --font-barlow: "Barlow", sans-serif;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

.app-container {
  max-width: 1200px;
  margin: 20px auto;
}

button {
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-inter);
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  opacity: 1;
}
