.sort-button img {
  height: 10px;
  margin-left: 3px;
}

.sort-content {
  width:150px;
  background-color: var(--white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  position: absolute;
  right: 0;
  border-radius: 5px;
  border:1px var(--dark-grey) solid;
  padding:5px;
}

.sort {
  position: relative;
  display: inline-block;
}

.sort-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  border-bottom: 1px var(--jet) solid;
}

.sort-content div:last-child {
  border-bottom:none;
}

.sort-content .selected {
  color:var(--white);
  background-color: var(--dark-grey);  
}

.sort-content div:hover {
  background-color: var(--light-grey);
  cursor:pointer;
}

.sort:hover .sort-content {
  display: block;
}

.sort:hover .sort-button img {
  transform: scaleY(-1);
}
